.App {
  text-align: center;
}

.App-intro {
  font-weight: bolder;
}

.task-input {
  max-width: 50em;
  margin: auto;
}

.task-btn {
  margin: 0.5em auto;
}

.task-btn:disabled {
  color: blue;
}

.list-group-item {
  margin: 0.75em auto;
  width: 45em;
  overflow-wrap: normal;
}
